*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main-header{
    background-color: aqua;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-div span{
    color: violet;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 15px;
}
.list-div {
    margin-right: 15px;
}
.list-div ul li {
    display: inline-block;
    padding-left: 15px;
}
#light{
    height: 350px;
    width: 350px;
    border-radius: 100%;
    border: 5px solid black;
}
button{
    height: 50px;
    width: 100px;
    margin-top: 50px;
}